*{
    padding: 0;
    margin: 0;
}

header{
    height: 73px;
    width: 100%;
    background: #438440;

}
.logo{
    margin-left: 41px;
}
.container {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.header-icons{
    margin-right: 20px ;
}

.header-icons li{
    text-decoration: none;
    display: inline-block;
    margin: 5px;
}

#editor{
    width: 100%;
}

