*{
    padding: 0;
    margin: 0;
}
body{
    background: #EBEBEB;
}

header{
    height: 73px;
    width: 100%;
    background: #438440;

}
.logo{
    margin-left: 41px;
}
.container {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.header-icons{
    margin-right: 20px ;
}

.header-icons li{
    text-decoration: none;
    display: inline-block;
    margin: 5px;
}

#editor{
   width: 100%;
    height: 700px;
}

.flexbox-container{
    display: flex;
    align-items: center;

}

.editor-container{
    display: flex;
    margin-left: 37px;
    margin-top: 8px;
    align-content: center;
    height: 90%;
    width:400px;
    min-width: 370px;
    background: #EBEBEB;
    border-radius: 7px;
    border: 2px solid #D3D6DD;
}
.f1-container{
    margin-top: 8px;
    display: flex;
    margin-left: 30px;
    margin-right: 37px;
    background: #EBEBEB;
    flex-direction: column;
    height: 700px;
    width: 100%;
    border-radius: 7px;
    border: 2px solid #D3D6DD;
}

.f1-container button{
    margin-top: 3px;
    margin-left: 3px;
    max-width: 33px;
    max-height:33px ;
    border: transparent;
    background: transparent;
}

.vis-container{
    display: flex;
    flex-direction:row;

}

.tree-container{
    border-radius: 7px;
    border: 2px solid #D3D6DD;
    height: 650px;
    width: 50%;
    max-width: 450px;
    background: white;
    margin: 3px;
    overflow: auto;
}
.array-container{
    border-radius: 7px;
    border: 2px solid #D3D6DD;
    height: 650px;
    max-width: 450px;
    width: 50%;
    background: white;
    margin: 3px;
    overflow: auto;
}

table {
    width: 100%;
}
th, td {
    border: 1px solid black;
    border-radius: 10px;
    padding: 15px;
  }
