* {
  padding: 0;
  margin: 0;
  color: black;
}

body {
  background: #ebebeb;
}

header {
  height: 69px;
  width: 100%;
  background: #438440;
}

h1,
h2,
p,
ul
{
  text-align: center;
  font-family: Roboto, Assistant, sans-serif;
  font-style: normal;
  margin-bottom: 3%;
}
.elements-help {
  text-align: center;
}

.elements-help > ul {
  list-style-type: none;

}

a:link {
  color: black;
}


.logo {
  margin-left: 41px;
}

.container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.header-icons {
  margin-right: 20px;
}

.header-icons li {
  text-decoration: none;
  display: inline-block;
  margin: 5px;
}

#editor {
  width: 99vw;
  height: 88vh;
}

.flexbox-container {
  display: flex;
  height: 90vh;
}

button {
  background-color: transparent;
  border: none;
}

.editor-container {
  display: flex;
  margin-left: 15px;
  margin-top: 5px;
  align-content: center;
  min-height: 650px;
  width: 30vw;
  min-width: 370px;
  background: #ebebeb;
  border-radius: 7px;
  border: 2px solid #d3d6dd;
}

.f1-container {
  margin-top: 3px;
  display: flex;
  margin-left: 15px;
  margin-right: 15px;
  background: #ebebeb;
  flex-direction: column;
  height: 700px;
  width: 100%;
  border-radius: 7px;
  border: 2px solid #d3d6dd;
}

.vis-container {
  display: flex;
  flex-direction: column;
}

.tree-container {
  border-radius: 7px;
  border: 2px solid #d3d6dd;
  height: 45vh;
  max-height: 40vh;
  min-height: 45vh;
  width: 99%;
  max-width: 70vw;
  background: white;
  margin: 3px;
  overflow: auto;
}

.array-container {
  border-radius: 7px;
  font-size: 12px;
  border: 2px solid #d3d6dd;
  height: 45vh;
  max-height: 40vh;
  min-height: 40vh;
  padding: 1px;
  width: 99%;
  background: white;
  margin: 3px;
  overflow: auto;
}

table {
  width: 100%;
}

th,
td {
  border: 1px solid black;
  border-radius: 5px;
  padding: 3px;
  font-size: 16px;
}

.b-popup {
  width: 100%;
  min-height: 100%;
  overflow: hidden;
  display: none;
  position: fixed;
  z-index: 10;
  left: 0;
  top: 0;
  background-color: rgba(0 0 0 / 40%);
}

.b-popup-content {
  align-content: center;
  background-color: #fefefe;
  border: 1px solid black;
  border-radius: 10px;
  margin: 10% auto;
  padding: 20px;
  width: 40%;
}

.close {
  color: black;
  float: right;
  font-size: 28px;
  font-weight: bold;
}

.close:hover,
.close:focus {
  color: black;
  text-decoration: none;
  cursor: pointer;
}

.container-buttons {
  display: flex;
  justify-content: space-around;
}

#format1,
#format2,
#format3 {
  background-color: #438440;
  color: white;
  border: 1px solid black;
  border-radius: 10px;
  padding: 15px 25px;
}
